@use "../../sass/modules/animation";
@use "../../sass/modules/background";
@use "../../sass/modules/font";
@use "../../sass/modules/page";
@use "../../sass/modules/position";
@use "../../sass/modules/shape";
@use "../../sass/modules/visibility";

.panel {
  @include visibility.vertical($y: 568px);

  .left-panel {
    @include position.fixed($left: 1.5rem, $bottom: 3rem);
    @include shape.square($size: null, $border-radius: 20px, $background-color: var(--background-color));
  }

  .right-panel {
    @include position.fixed($right: 1.5rem, $bottom: 3rem);
    @include shape.square($size: null, $border-radius: 20px, $background-color: var(--background-color));
  }

  .button {
    @include shape.square($size: 3rem, $border-radius: 20px);

    cursor: pointer;

    &:hover {
      background-color: #e74c3c;
    }
  }

  .content {
    @include page.window($background-color: var(--background-color), $border: 1px solid #34495e, $border-radius: 20px, $z-index: 1);

    animation: bottom-to-top 0.5s;

    .heading {
      @include font.regular($font-size: 2rem, $font-weight: bold, $color: var(--text-color));
    }

    .close-icon-container {
      @include shape.square($size: 40px);

      cursor: pointer;
    }
  }
}
