@use "../../sass/modules/animation";
@use "../../sass/modules/background";
@use "../../sass/modules/font";
@use "../../sass/modules/page";
@use "../../sass/modules/position";
@use "../../sass/modules/shape";
@use "../../sass/modules/visibility";

.about {
  .notice {
    max-width: 50rem;

    h1 {
      font-family: Righteous, sans-serif;
      color: var(--text-color);
    }

    h2 {
      @include font.regular($font-size: 1.5rem, $font-weight: bold);
    }

    p {
      @include font.regular;
    }

    a {
      @include font.link($font-weight: bold);
    }

    .version {
      p {
        @include font.regular($font-size: 0.9rem, $font-weight: bold);

        margin-bottom: 0;
      }
    }

    .link {
      a {
        display: block;
      }
    }
  }
}
