@use "../../sass/modules/animation";
@use "../../sass/modules/background";
@use "../../sass/modules/font";
@use "../../sass/modules/page";
@use "../../sass/modules/position";
@use "../../sass/modules/shape";
@use "../../sass/modules/visibility";

.location {
  .notice {
    svg {
      display: block;
      width: 25px;
      height: 25px;
    }

    p {
      @include font.regular;
    }
  }

  .unit {
    cursor: pointer;

    .code-circle {
      @include shape.circle($size: 2.6rem, $background-color: #1abc9c);

      p {
        @include font.regular($font-size: 1rem, $font-weight: bold, $color: #fff);

        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0;
        text-align: center;
      }
    }

    .name-paragraph {
      @include font.regular($font-weight: bold);

      @media screen and (max-width: 767px) {
        font-size: 0.85rem;
      }
    }
  }
}
