.theme-black-pearl {
  --background-color: rgb(30 39 44 / 90%);
  --text-color: #fff;
}

.theme-shadowed-steel {
  --background-color: rgb(75 75 75 / 90%);
  --text-color: #fff;
}

.theme-total-eclipse {
  --background-color: rgb(47 53 66 / 90%);
  --text-color: #fff;
}
