.theme-black-pearl {
  --background-color: rgb(30 39 44 / 100%);
  --text-color: #fff;
}

.theme-deep-black {
  --background-color: rgb(0 0 0 / 100%);
  --text-color: #fff;
}

.theme-shadowed-steel {
  --background-color: rgb(75 75 75 / 100%);
  --text-color: #fff;
}

.theme-total-eclipse {
  --background-color: rgb(47 53 66 / 100%);
  --text-color: #fff;
}
