@use "../utilities/mixins";

.location {
  .unit {
    cursor: pointer;

    .button-location {
      @include mixins.shape-square($size: 3rem, $border-radius: 20px, $background-color: #1abc9c);
    }

    .text-verified {
      color: #1abc9c;
    }

    &:hover {
      .button-location {
        animation: pulse 1s infinite;
      }
    }
  }
}
