.animation-blink {
    animation: blink 1s infinite;
}

.animation-fade {
    animation: fade 1s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
}