.earthquake-card {
  position: fixed;
  left: 1.5rem;
  right: 1.5rem;
  top: 1.5rem;
  background-color: rgb(30 39 46 / 90%);
  max-width: 500px;
  border-radius: 20px;
}

.earthquake-card p {
  font-size: 1.2rem;
  font-weight: bold;
}

#warning_sign {
  animation: sign-blink 1s infinite;
}

#fetch_indicator {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f39c12;
  border-radius: 50%;
}

#tsunami_sign {
  position: fixed;
  bottom: 20rem;
  right: 1.5rem;
  animation: sign-blink 0.6s infinite;
}

.magnitude-scale {
  text-align: center;
  color: #fff;
}

.magnitude-scale div {
  position: fixed;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10px;
}

.magnitude-scale div p {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 767px) {
  #warning_sign {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-height: 568px) {
  .earthquake-card {
    display: none !important;
  }

  #tsunami_sign {
    bottom: 8rem !important;
  }

  .magnitude-scale {
    display: none !important;
  }
}

@keyframes sign-blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
