@use "../utilities/colors";

.button {
  font-size: var(--font-size);
  font-weight: 600;
  border-radius: 20px;
}

.button-color-orange {
  background-color: colors.$orange;
  color: #fff;

  &:hover {
    background-color: colors.$orange;
    color: #000;
  }
}
