@use "../utilities/mixins";

.button {
    font-size: var(--font-size);
    font-weight: 600;
    border-radius: 20px;
}

.button-color-orange {
    background-color: #f39c12;
    color: #fff;

    &:hover {
        background-color: #f39c12;
        color: #000;
    }
}

.button-icon {
    @include mixins.shape-square($size: 3rem, $border-radius: 20px);

    cursor: pointer;

    &:hover {
        background-color: #e74c3c;
    }

    svg {
        display: block;
        width: 20px;
        height: 20px;
    }
}