@use "../utilities/colors";
@use "../utilities/mixins";

.button-pill {
  background-color: colors.$orange;
  border-radius: 20px;
  font-size: var(--font-size);
  font-weight: 600;
  color: #fff;

  &:hover {
    background-color: colors.$orange;
    color: #000;
  }
}

.button-icon {
  @include mixins.shape-square($size: 2.25rem, $border-radius: 15px);

  background-color: #7f8c8d;
  cursor: pointer;

  &:hover {
    background-color: colors.$orange;
  }

  svg {
    display: block;
    width: 18px;
    height: 18px;
    color: #fff;
  }
}
