.form-slider {
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #fff;
  }

  input[type="range"]::-webkit-slider-thumb {
    background-color: #e74c3c;
  }
}

.form-switch {
  .form-check-input:checked {
    background-color: #e74c3c !important;
    border-color: #e74c3c !important;
  }
}

.form-drop {
  select {
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill='rgb(189, 195, 199)' stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
    background-position: right 0 center;
    background-color: #34495e;
    text-align-last: right;
    padding: 0 1.5rem 0 0;

    &:focus {
      box-shadow: none;
    }
  }

  option {
    direction: rtl;
  }
}

.form-link {
  &:hover {
    label {
      color: #e74c3c;
    }
  }
}

.form-field {
  input[type="text"],
  .input-group-text {
    border: none;
    background-color: #34495e;
  }

  input[type="text"] {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    &:focus {
      color: #fff;
      box-shadow: none;
    }
  }

  .input-group-text {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
