@use "../utilities/mixins";
@use "../utilities/variables";

.indicator-warning {
    width: 30px;
    height: 30px;

    @media screen and (min-width: variables.$breakpoint-md) {
        width: 35px;
        height: 35px;
    }
}

.indicator-fetch {
    @include mixins.shape-circle($size: 0.5rem);
}

.indicator-location {
    @include mixins.shape-circle($size: 1.5rem, $background-color: #1abc9c);
}

.indicator-scale {
    @include mixins.shape-square($size: 1.5rem, $border-radius: 10px);

    cursor: pointer;

    &:hover {
        background-color: var(--background-color) !important;
    }
}