@use "../../sass/modules/animation";
@use "../../sass/modules/background";
@use "../../sass/modules/font";
@use "../../sass/modules/page";
@use "../../sass/modules/position";
@use "../../sass/modules/shape";
@use "../../sass/modules/visibility";

.page {
  .button {
    @include position.fixed;
    @include shape.square($size: 4rem, $border-radius: 20px, $background-color: var(--background-color), $backdrop-filter: blur(15px));

    cursor: pointer;

    &:hover {
      background-color: #e74c3c;
    }
  }

  .content {
    @include page.window($background-color: var(--background-color), $backdrop-filter: blur(15px), $border-radius: 20px, $z-index: 1);

    animation: bottom-to-top 0.5s;

    .heading {
      @include font.regular($font-size: 2rem, $font-weight: bold, $color: var(--text-color));
    }

    .close-icon-container {
      @include shape.square($size: 40px);

      cursor: pointer;
    }
  }
}
