@use "../utilities/mixins";

.panel {
    @include mixins.position-fixed($left: 1.5rem, $right: 1.5rem, $top: 1.5rem);
    @include mixins.visibility-vertical($y: 568px);

    .data-panel {
        @include mixins.shape-square($size: null, $border-radius: 20px, $background-color: var(--background-color));

        max-width: 500px;
    }

    .indicator-fetch {
        @include mixins.shape-circle($size: 0.5rem);
    }

    .indicator-location {
        @include mixins.shape-square($size: 1.5rem, $border-radius: 10px, $background-color: #1abc9c);
    }

    .button-magnitude {
        @include mixins.shape-square($size: 1.5rem, $border-radius: 10px);

        cursor: pointer;

        &:hover {
            background-color: transparent !important;
        }
    }
}