.about-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e272e;
}

.about-text-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: #ffffff;
}

.about-text-container h1 {
    font-family: 'Righteous', cursive;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #e74c3c;
}