.about-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e272e;
}

.about-inner-container {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: #ffffff;
}

.about-inner-container h1 {
    font-family: 'Righteous', cursive;
}

.about-inner-container h4 {
    font-family: 'Righteous', cursive;
}

.about-inner-container a {
    color: #ffffff !important;
    font-weight: 500 !important;
    text-decoration: none;
}

.about-inner-container a:hover {
    color: #e74c3c !important;
}

.brand-container p {
    font-size: 0.7rem;
    margin: 0;
}