.earthquake-card {
  max-width: 735px;
  border-radius: 10px !important;
  background-color: #e74c3c !important;
}

.magnitude-circle {
  position: relative;
  color: #ffffff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
}

.magnitude-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e74c3c;
  font-weight: bold;
}