.app-button {
  background-color: rgb(30 39 46 / 90%);
  width: 4rem;
  height: 4rem;
  border-radius: 20px;
  cursor: pointer;
}

.app-button:hover {
  background-color: #e74c3c;
}

.loading-screen {
  position: fixed;
  background-color: rgb(30 39 46 / 90%);
  backdrop-filter: blur(15px);
}
