.footer-container {
    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    width: 95%;
    color: #ffffff;
    animation: footer-animation 1s;
}

.footer-container p {
    font-size: 0.6rem;
}

@keyframes footer-animation {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}