.logo {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 3;
    font-family: 'Righteous', cursive;
    color: #ffffff;
}

.menu-button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    background-image: url('./img/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.menu-button-toggled {
    background-image: url('./img/cross-white.png');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 39, 46, 0.98);
    animation: overlay-animation 0.7s;
}

@keyframes overlay-animation {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

.link-container {
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    left: 0;
    right: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: #ffffff;
}

.link {
    font-family: 'Righteous', cursive;
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    color: #e74c3c;
}

@media screen and (min-height: 576px) {
    .link-container-inner {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}