select {
    border: 0px !important;
    border-radius: 10px !important;
    background-color: #ecf0f1 !important;
    height: 3rem;
}

.settings-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e272e;
}

.settings-text-container {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: #ffffff;
}

.settings-text-container h1 {
    font-family: 'Righteous', cursive;
}

.settings-text-container select {
    max-width: 20rem;
}

.back-to-map-button {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, 0);
}