select {
    background-color: #2c3e50 !important;
    border: 0px !important;
    border-radius: 10px !important;
    height: 3rem !important;
    color: #ffffff !important;
    font-weight: 500 !important;
}

select:hover {
    background-color: #e74c3c !important;
}

.settings-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e272e;
}

.settings-text-container {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: #ffffff;
}

.settings-text-container h1, h4 {
    font-family: 'Righteous', cursive;
}

.settings-text-container select {
    max-width: 20rem;
}

.back-to-map-button {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #2c3e50 !important;
    color: #ffffff !important;
    font-weight: 500 !important;
}

.back-to-map-button:hover {
    background-color: #e74c3c !important;
}