.settings-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e272e;
}

.settings-inner-container {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: #ffffff;
}

.settings-inner-container h1 {
    font-family: 'Righteous', cursive;
}

.settings-inner-container h4 {
    font-family: 'Righteous', cursive;
}

.settings-inner-container select {
    background-color: #2c3e50 !important;
    border: 0px !important;
    border-radius: 5px !important;
    height: 3rem !important;
    color: #ffffff !important;
    font-weight: 500 !important;
}

.settings-inner-container select:hover {
    background-color: #e74c3c !important;
}

.save-changes-button {
    color: #ffffff !important;
    font-weight: 500 !important;
}

.save-changes-button:hover {
    color: #e74c3c !important;
}