@mixin regular($font-family: null, $font-size: 1rem, $font-weight: 500, $color: var(--text-color)) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin link($font-family: null, $font-size: 1rem, $font-weight: 500, $color: var(--link-color)) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  text-decoration: none;
}
